* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  /* The image used */
  background-image: url("images/b2.jpg");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.namePhone {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.leftNamePhone {
  width: 50%;
  height: auto;
  padding: 10px;
  float: left;
}

.leftHeader {
  width: 50%;
  height: auto;
  padding: 180px 150px;
  float: left;
}

.rightHeader {
  width: 50%;
  height: auto;
  padding: 90px 80px;
  float: left;
}

.textHeader {
  color: white;
  font-size: 40px;
  text-align: left;
}

.pHeader {
  color: white;
  font-size: 15px;
  text-align: left;
  padding-top: 12px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #83a9f0;
  border-radius: 5px;
  background: #f0ecec;
}

.formText {
  color: white;
  font-size: 22px;
  text-align: center;
}

.formP {
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 12px 0px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.rightNamePhone {
  width: 50%;
  height: auto;
  padding: 10px;
  float: left;
}

.nav {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
.nav1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: lighter;
}
.container {
  max-width: 380px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.bodySecondLevel {
  text-align: center;
}
.clients {
  width: 100%;
  height: auto;
  padding: 15px 35px;
  margin: auto;
}
.clients ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding: 0px 70px;
}
.clients ul li {
  list-style: none;
  padding: 60px;
  float: left;
  width: 33%;
  text-align: center;
}

.rounded img {
  border-radius: 50%;
  background-color: skyblue;
  width: 70px;
}

.ho {
  font-size: 18px;
}
.hu {
  font-size: 12px;
}

.bodyThird {
  width: 100%;
  height: auto;
  background-color: rgb(252, 229, 252);
}
.bodyThird h2 {
  text-align: center;
  color: rgb(25 25 25);
  font-size: 30px;
  font-family: Viga, sans-serif;
  font-weight: 400;
  padding: 20px;
}

.clientss {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px 250px;
}

.client1 {
  width: 50%;
  height: auto;
  text-align: center;
  float: left;
  padding: 25px 0px;
}

.clientImg img {
  border-radius: 50%;
  width: 100px;
}

.smallCent {
  padding: 0px 60px;
}

.smallCent img {
  width: 50px;
  height: 15px;
}

.footer {
  width: 100%;
  height: auto;
  background: rgb(34 34 34);
  padding: 15px 180px;
}
.footer p {
  color: white;
}

.growthTab1 li a {
  /* background-color: blue !important; */
  border-radius: 30px;
  color: gray;
}
